.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    width: 100%;
}

.logo {
    max-width: 400px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

.navbar ul li a:hover {
    background-color: #182b49;
    color: white;
}

.section {
    width: 100%;
    display: inline-block;
    scroll-margin-top: 110px;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
}

.grid-box {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    padding: 20px;
}

#S1 {
    background-color: rgb(245,240,230);
    font-size: 28px;
}

#S2 {
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    background-size: cover;
    color: white;
    font-size: 28px;
}

#S3 {
    background-color: rgb(245,240,230);
    font-size: 28px;
}

@media (max-width: 800px) {
    .navbar ul {
        display: none;
    }
    .logo {
        max-width: 75%;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
