body {
  margin: 20px;
  background-color: lightgrey;
 }
 
 .app-container {
  grid-template-columns: 1fr;
 }
 
 @media (min-width: 600px) {
  .app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 }

 .notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.note-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.notes-header {
  display: flex;
  justify-content: space-between;
}

.note-form {
  margin-bottom: 20px;
}

.note-form input,
.note-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.note-form button {
  padding: 10px;
  background-color: #4193e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-form button:hover {
  background-color: #3581c9;
}
 
 .notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
 }
 
 h2 {
  margin: 0;
 }
 
 textarea,
 input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
 }
 
 .edit-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
 }
 
 .edit-buttons button {
  flex: 1;
 }
 
 .edit-buttons button:last-of-type {
  background-color: rgb(220, 89, 89);
  color: white;
 }
